{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}