{
  "env": {
    "node": true,
    "commonjs": true
  },
  "extends": "@honeyscience/eslint-config",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": true }
    ]
  }
}